<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: bootstrap-style"/>
    <title>Arterion.de</title>
</head>
<body>
<nav th:replace="fragments :: header"/>

<main role="main">
    <div th:replace="fragments :: statsbar"/>
    <div class="container">
        <div class="server-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" th:text="#{page.stats.guild_fights.title}"/>
            <p class="lead" th:text="#{page.stats.guild_fights.subtitle}"/>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr th:with="base='page.stats.guild_fights.header'">
                    <th>#</th>
                    <th th:replace="fragments :: statheader(key='attacker')"/>
                    <th th:replace="fragments :: statheader(key='defender')"/>
                    <th th:replace="fragments :: statheader(key='begin')"/>
                    <th th:replace="fragments :: statheader(key='end')"/>
                    <th th:replace="fragments :: statheader(key='winner')"/>
                </tr>
                </thead>
                <tbody th:replace="fragments :: statbody"/>
            </table>
        </div>
        <nav th:replace="fragments :: pagination"/>
    </div>

</main>

<footer th:replace="fragments :: footer"/>
<div th:replace="fragments :: bootstrap-script"/>
</body>
</html>