<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://arterion.de:5432/arterion</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">tKLnKrYYDNZbVddzK8sByw97YaXA75tq</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">16</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">false</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Validate the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabasePlayer"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseSanction"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseFormula"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseGuildFight"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseGuild"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseArtefactFight"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseCapturePointFight"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseArenaFight"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseMorgothDungeonFight"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseStatComponent"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseBuyEntry"/>
        <mapping class="me.friwi.arterion.plugin.util.database.entity.DatabaseLoginToken"/>
    </session-factory>
</hibernate-configuration>