<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: bootstrap-style"/>
    <title>Arterion.de</title>
</head>
<body>
<nav th:replace="fragments :: header"/>

<main role="main">
    <div class="container">
        <div class="server-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" th:text="#{page.clientmod.download.title}"/>
            <p class="lead" th:text="#{page.clientmod.download.subtitle}"/>
            <a class="btn btn-primary my-2" href="/download/mod" th:text="#{page.clientmod.download.button}"/>
        </div>
        <img src="/res/mod_preview.png" style="display: block; margin-left: auto; margin-right: auto; width: 85%;"/>
        <br>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" th:text="#{page.clientmod.download.laby}"/>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="mb-2" th:utext="#{page.clientmod.download.laby1}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.laby2}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.laby3}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.laby4}"/>
                        <li th:utext="#{page.clientmod.download.laby5}"/>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" th:text="#{page.clientmod.download.forge}"/>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="mb-2" th:utext="#{page.clientmod.download.forge1}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.forge2}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.forge3}"/>
                        <li class="mb-2" th:utext="#{page.clientmod.download.forge4}"/>
                        <li th:utext="#{page.clientmod.download.forge5}"/>
                    </ul>
                </div>
            </div>
        </div>
        <p th:text="#{page.clientmod.download.support}"/>
        <br/>
        <p th:utext="#{page.clientmod.download.license}"/>
    </div>
</main>

<footer th:replace="fragments :: footer"/>
<div th:replace="fragments :: bootstrap-script"/>
</body>
</html>