<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: bootstrap-style"/>
    <title>Arterion.de</title>
</head>
<body>
<nav th:replace="fragments :: header"/>

<main role="main">
    <div class="container">
        <div class="server-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" th:text="#{page.vote.title}"/>
            <p class="lead" th:text="#{page.vote.subtitle}"/>
            <a class="btn btn-primary my-2" th:href="${vote1}" th:text="#{page.vote.go}"/>
        </div>
        <img src="/res/vote_bg.png" style="display: block; margin-left: auto; margin-right: auto; width: 30%;"/>
    </div>
</main>

<footer th:replace="fragments :: footer"/>
<div th:replace="fragments :: bootstrap-script"/>
</body>
</html>