<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: bootstrap-style"/>
    <title>Arterion.de</title>
</head>
<body>
<nav th:replace="fragments :: header"/>

<main role="main">
    <div th:replace="fragments :: wikibar"/>
    <div class="container">
        <div class="server-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4" th:text="#{page.wiki.index.title}"/>
            <p class="lead" th:text="#{page.wiki.index.subtitle}"/>
            <a class="btn btn-primary my-2" href="https://discord.gg/7baPkk7"
               th:text="#{page.wiki.index.subtitle.discord}"/>
            <a class="btn btn-primary my-2" href="https://www.youtube.com/channel/UCn-8Ys5qyhxJt8ZacJWn2DQ"
               th:text="#{page.wiki.index.subtitle.youtube}"/>
        </div>
        <h4 th:text="#{page.wiki.index.server.about}"/>
        <hr/>
        <p th:text="#{page.wiki.index.serverdesc}"/>
        <p th:text="#{page.wiki.index.furtherreading}"/>
        <br/>
        <img src="/res/wiki/spawn.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%"/>
    </div>

</main>

<footer th:replace="fragments :: footer"/>
<div th:replace="fragments :: bootstrap-script"/>
</body>
</html>